/*This is css*/
/*css selectors*/
* {
    margin: 0%;
    box-sizing: border-box;
}
/*This is the body section*/
body {
    font-family: 'lnconsolata';
}
/*This is the header section*/
header{
    background-color: rgb(224, 190, 95);
    padding: 20px;
    text-align: center;
}
#title-1 {
    font-size: 35px;
    text-transform: uppercase;
}
#Welcom {
    color: hsl(0, 51%, 58%);
}

#Matyas {
    color: rgb(73, 231, 73);
}

.manu-list{
    padding: 15px;
    color: white;
}
.manu-list li{
    display: inline;
    margin-right: 15px;
}
.manu-list li a {
    color: white;
    text-decoration: none;
    padding: 3px;
}
.active{
    border-bottom: 3px solid red;
}
/*This is main section*/
main{
    padding: 30px 50px 30px 50px;
}
.page-section{
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
}
h1{
    margin: 10px auto;
    text-transform: uppercase ;
}
/*the main section introdaction*/
.introdaction{
    background-color: rgb(100, 71, 155);
    color: white;
}
.introdaction-2{
    background-color: rgb(230, 219, 120);
}
/*Listed filesl*/
.Tecnologies-1{
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(126, 73, 73);
    color: antiquewhite;
}

.Tecnologies-2{
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(73, 94, 126);
    color: rgb(28, 155, 77);
}

.Tecnologies-3{
    margin: 30px auto;
    padding: 40px;
    background-color: rgb(136, 37, 114);
    color: rgb(163, 125, 76);
}
/*meter,progress,details*/
meter,progress,details{
    height: 40px;
    width: 500px;
}
.meter {
    background-color: rgb(34, 32, 32);
    color: white;
}

.progress{
    background-color: rgb(107, 57, 172);
    color: white;
}
.details{
    background-color: rgb(231, 189,.49);
}
.code-formatting{
    background-color: rgb(144, 144, 218);
    color: white;
}
/*Media files*/
img{
    width: 10%;
}
.video{
    text-align: center;
    width: 80%;
}
.audio{
    margin: 25px auto;
}
.audio h2{
    margin: 5px;
    font-weight: 400;
}
/*html form*/
form{
    width: 100%;
}
.form-group{
    margin: 15px auto;
}
 input[type='name'],
 input[type='date'],
 input[type='email'],textarea, select {
    display: block;
    padding: 10px;
    width: 55%;
    border-radius: 3px;
    border: 2px solid rgb(203,93, 93,0.25);
    margin-top: 3px;
 }
 input[type='name']:hover,
 input[type='date']:hover,
 input[type='email']:hover,textarea:hover, select:hover {
    border: 2px solid rgb(203,93, 93,0.25);
 }
 .btn{
    padding: 15px 25px;
    background: green;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
 }
/*HTML Table*/
table,
td,
th {
    border: 2px solid green;
    border-collapse: collapse;
}

.table-1 {
    background-color: rgb(98, 122, 173);
    width: 80%;
    margin: 50 auto;
    padding: 25px 50px;
    border: 2px solid;
}

thead {
    background-color: rgb(102, 173, 102);
    color: blueviolet;
}

td {
    padding-left: 15px;
}
/*box position*/
.box-wrapper{
    z-index: -100;
    position: relative;
    background-color: lightblue;
    height: 500px;
    width: 100%;
    padding: 0;
}

.box{
    position: absolute;
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    border-top:  10px groove green;
    border-left:  10px groove yellow;
    border-right:  10px groove yellow;
    border-bottom:  10px groove red;
    border-radius: 100px;
}

#box1{
    left: 0px;
    top: 0px;
    background-color: green;
    color: white;
}

#box2{
    right: 0px;
    top: 0px;
    background-color: yellow;
    color: rgb(160, 30, 30);
}

#box3{
    left: 0px;
    bottom: 0px;
    background-color: red;
    color: rgb(58, 34, 126);
}

#box4{
    right: 0px;
    bottom: 0px;
    background-color: purple;
    color: rgb(164, 199, 83);
}
.web-tech{
    position: absolute;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    left: 450PX;
    top: 150px;
}
#HTML{
    z-index: 5;
    background-color: rgb(226, 113, 20);
}
#CSS{
    z-index: 4;
    left: 580px;
    top: 165px;
    background-color: rgb(64, 64, 145);
}
#JAVA{
    z-index: 3;
    left: 720px;
    top: 180px;
    background-color: rgb(221, 221, 32);
}
.fa-envelope-square,.fa-phone{
    font-size: 25px;
    color: #3f2f2f;
}
/*This is the footer section*/
footer {
    background-color: rgb(224, 190, 95);
    padding: 20px;
    text-align: center;
}

.footer-wrapper > div a {
    margin: 25px;
}
.fa-youtube-square{
    font-size: 32px;
    color: #FF0000;

}
.fa-facebook-square{
    font-size: 32px;
    color: #4267B2;
}
.arrow{
    text-align: right;
}
.arrow i{
    color: hsl(0, 51%, 58%);
}
